.name{
    color: white;
}

.puja{
    color:aqua;
}

.future{
    color: white;
}

.code{
    color:white;
}

.share{
    color:white;
}

a{
    color:darkmagenta;
}

#project{
    color:white;
}

#proj{
    text-align: right; color:aquamarine;
}
#pro{
    text-align: right; color: white;
}
#Contact{
    color: white;
}